<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-5">
                <p style="padding-top:5px;">Leeds, UK</p>
            </div>
            <div class="col-md-4 offset-md-3">
                <h1>{{ WeatherData.temp | number : '.0-0' }}&deg;</h1>
            </div>
        </div>
        

    </div>
    <div class="card-body">
        <h1>0</h1>
        <p>{{WeatherData.summary}}</p>

    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-5">
                <p>Wind</p>
                <p>{{WeatherData.wind | SpeedUnit:currentSpeedUnit}}</p>
            </div>
            <div class="col-md-5 offset-md-2">
                <p>Humidity</p>
                <p>{{WeatherData.humidity | percent }}</p>
            </div>
        </div>

    </div>
</div>