.card{
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.24);
}

.card,
.card-header,
.card-footer{
    border:none;
    border-radius: 0;
    background-color: #00BCD4;
    color:#FFF;

}

.card-header,
.card-footer{
    padding: 1rem 0.5rem;
}

.card-body{
    padding:3rem;
}

.card-header,
.card-body,
.card-footer{
    text-align: center;
}

p{
    margin: .2 rem;
    text-transform: uppercase;
}